.card:hover {
    box-shadow: 2px 2px 2px grey;
}

.card {
    transition: box-shadow .3s;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}


.v-enter-active, .v-leave-active {
    transition: opacity .5s;
}

.v-enter, .v-leave-to {
    opacity: 0;
}
